<h1> Discover Ideas </h1>
<h4>Lorem ipsum lorem ipsum!</h4>

<div class="browse">
  <% @ideas.each do |i| %>
  <div class="ideas col-xs-12  col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div id="test" class="panel-heading">
        <h3 id="accent" class="glyphicon glyphicon-flash"></h3><br>
      </div>
      <div class="panel body">
        <h3> <%= link_to i.title, i %> </h3>
      </div>
    </div>
    <%#= button_to 'X', i, {method: "delete"} %>
  </div>
  <% end %>
</div>