
<%= image_tag("inkinwater1.jpg", class: "img-circle img-thumbnail2") %>
<br><br>
<div class="jumbotron">
  <h1 id="accent">Find Ideas!</h1>
  <p></p>
  <div class="btn btn-warning btn-lg" role="button"><%= link_to 'Get Inspired', ideas_path %></div>
</div>