
<%= image_tag("inkinwater1.jpg", class: "img-circle img-thumbnail2") %>

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <div class="btn btn-primary btn-lg" role="button"><%= link_to 'Get Inspired', ideas_path %></div>
</div>

<div><iframe scrolling="no" frameborder=0 
src="http://www.infocaptor.com/bubble-my-page?size=800&mode=embed&url=http://api.rubyonrails.org/classes/ActionView/Helpers/AssetTagHelper.html" width=800 height=830></iframe><div>