
<%#= image_tag("inkinwater1.jpg") %>

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <div class="btn btn-primary btn-lg" role="button"><%= link_to 'Get Inspired', ideas_path %></div>
</div>