<body class="homepage">

<!-- <div class="jumbotron"> -->
  <h1 id="accent">I D E A S</h1>
  <%= render partial: 'layouts/datavis' %>
 <!--  <p>Where user needs inspire creators.</p> -->
  <div class="explore">
  	<h4>GET INSPIRED</h4>
  </div>
  <!-- <div class="btn btn-default btn-lg" role="button"><%#= link_to 'Get Inspired', ideas_path %></div> -->
<!-- </div> -->
<%#= image_tag("inkinwater1.jpg", class: "img-circle img-thumbnail2") %>

</body>
