<body class="homepage">

<!-- <div class="jumbotron"> -->
  <h1 id="accent">I D E A S</h1>
  <p><i>hover over a bubble to explore</i></p>
  <%= render partial: 'layouts/datavis' %>
 <!--  <p>Where user needs inspire creators.</p> -->
  <div class="explore">
  	<h4>GET INSPIRED</h4>
  </div>
  <!-- <div class="btn btn-default btn-lg" role="button"><%#= link_to 'Get Inspired', ideas_path %></div> -->
<!-- </div> -->
<br><br>
<%= image_tag("idea.svg", class: "img-circle img-thumbnail2", id: "idea") %>
<%= image_tag("collab.svg", class: "img-circle img-thumbnail2") %>
<%= image_tag("inspire.svg", class: "img-circle img-thumbnail2") %>

</body>
