.bubble {
  display: block;
  position: absolute;
}

.bubbleFill {
  position: absolute;
  display: block;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 70px;
  opacity: .8;
  text-align: center;
}

/*test*/
#bubble-3:hover {
  fill: orange;
}

#canvas {
  margin-left: auto;
  margin-right: auto;
}



