.container-fluid {
	background-color: rgba(46, 41, 53, 1);
}

body {
	background-color: rgba(73, 67, 81, 1);
}

#accentBackground {
	background-color: rgba(73, 67, 81, 1);
}

#accent {
	color: rgba(74, 189, 146, 1);
}
/*body color rgba(73, 67, 81, 1)
blue accent color rgba(74, 189, 146, 1)*/

$basewidth: 400px;
$maincolor: #6f6;

.container {
	text-align: center;
}

.browse {
	width: $basewidth / 960px * 100%;
	margin: 0 auto;

	h1 {
		text-align: center;
		padding-top: 35px;
	}

.img-thumbnail2 {
	margin: 0 auto;
	width: 100px;
	height: 100px;
}


}

@import "bootstrap";