<body>

			<div id="canvas">
			</div>
		

	<script type="text/javascript">

		$(document).ready(function() {

			  var visArray = [];
			  
			  <% @categories.each do |c| %>
			  	<% c.ideas.each do |i| %>
				  visArray.push( "<%= c.name %>");
			  	<% end %>
			  <% end %>
			  console.log(visArray);

			  var catCount = [];

			  visArray.sort();
			  var current = null;
			  var cnt = 0;
			  for (var i = 0; i <= visArray.length; i++) {
			      if (visArray[i] != current) {
			          if (cnt > 0) {
			              console.log(current + ' comes --> ' + cnt + ' times');
			              catCount.push({name: current, num: cnt});
			          }
			          current = visArray[i];
			          cnt = 1;
			      } else {
			          cnt++;
			      }
			  }
			  if (cnt > 0) {
			      console.log(current + ' comes --> ' + cnt + ' times');
			      catCount.push([current, cnt]);
			  }

			  var catName = [];
			 	var catNum = [];

			  for(var l=0; l<catCount.length; l++) {
			  	catName.push(catCount[l].name);	
			  	catNum.push(catCount[l].num);	
			  }

			  console.log(catName);
			  console.log(catNum);
			  

			  var vis = new SimpleVis("#canvas", catNum );
			  
		for(var j=0; j<7; j++){
			$("#bubble-" + j).on("click", function() {
		    window.location = this.getAttribute("data-questionurl");
	    return false;
			});
		}



		for(var k=0; k<catCount.length; k++) {
			$('#bubble-' + k).tooltip({
				placement: "top",
				title: "Category: " + catName[k] + ", " + "Count: " + catNum[k],
				trigger: "hover"
			});
		}

	});

	</script>

</body>