<head>
<%= stylesheet_link_tag "datavis", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "data_vis", "data-turbolinks-track" => true %>
	
</head>
<body>

	<div id="canvas"></div>

</body>